<h1>Đặt Phòng</h1>
<div class="mt-5">
    <h5>Thông tin phòng</h5>
    <p>Id : {{phong.id}}</p>
    <p>Tên phòng : {{phong.ten}}</p>
    <p>Loại phòng : {{phong.loai}}</p>
    <p>Số lượng : {{phong.soLuong}}</p>
    <h5>Thông tin khách hàng</h5>
    <div class="w-50 border p-3 rounded-3">
        <label for="name">Tên khách hàng</label>
        <input id="name" class="form-control" type="text" ng-model="khach.tenKhach">
        <label for="sdt">Số điện thoại</label>
        <input id="sdt" class="form-control" type="text" ng-model="khach.sodienthoai">
        <label for="soLuong">Số lượng phòng</label>
        <input id="soLuong" class="form-control" type="number" ng-model="khach.soLuong" onkeydown="return false" min="1" max="{{phong.soLuong}}">
        <button class="btn btn-primary mt-3" ng-click="DatPhong()">Đặt Phòng</button>
    </div>
    
</div>