<h1>Lịch Sử Đặt Phòng</h1>
<div class="table-responsive">
    <table class="table table-striped text-center">
        <thead>
            <tr>
                <th scope="col" class="bg-primary text-white">ID</th>
                <th scope="col" class="bg-primary text-white">Tên Khách</th>
                <th scope="col" class="bg-primary text-white">Ngày đặt</th>
                <th scope="col" class="bg-primary text-white">Id Phòng</th>
                <th scope="col" class="bg-primary text-white">Số Lượng</th>
                <th scope="col" class="bg-primary text-white">Hành động</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="item in LichSu" ng-if="item.soLuong > 0">
                <td scope="row">{{item.id}}</td>
                <td>{{item.tenKhach}}</td>
                <td>{{item.ngayDat}}</td>
                <td>{{item.idPhong}}</td>
                <td>{{item.soLuong}}</td>
                <td><button class="btn btn-outline-primary" ng-click="TraPhong(item.id)">Trả Phòng</button></td>
            </tr>
        </tbody>
    </table>
</div>