<title>Giỏ Hàng</title>
<div class="container-fluid p-3 m-0 text-bg-secondary bg-opacity-10 text-black  m-auto" style="max-width: 1800px;">
    <div class="mt-4 bg-white w-100">
        <div class="row p-3 w-100 d-flex m-0 p-0">
            <div class="col-4 text-center m-0 p-0 ms-auto">
                <nav class="text-secondary">Sản phẩm</nav>
            </div>
            <div class="col-2 text-center m-0 p-0 ms-auto">
                <nav class="text-secondary">Đơn giá</nav>
            </div>
            <div class="col-2 text-center m-0 p-0 ms-auto">
                <nav class="text-secondary">Số lượng</nav>
            </div>
            <div class="col-2 text-center m-0 p-0 ms-auto">
                <nav class="text-secondary">Số tiền</nav>
            </div>
            <div class="col-2 text-center m-0 p-0 ms-auto">
                <nav class="text-secondary">Thao tác</nav>
            </div>
        </div>
    </div>
    <div class="mt-4 bg-white w-100">
        <div ng-repeat="item in giohang">
            <div class="row p-3 w-100 d-flex m-0 p-0">
                <div class="col-4  d-flex align-items-center">
                    <img src="{{item.img}}" class="img-thumbnail w-25">
                    <nav class="ms-3">{{item.ten}}</nav>
                </div>
                <div class="col-2 text-center m-0 p-0 pt-4 ms-auto">
                    <nav class="fw-semibold" style="color: #ee4d2d;">{{formatPrice(item.gia)}}</nav>
                </div>
                <div class="col-2 text-center m-0 p-0 pt-4 ms-auto">
                    <nav class="fw-semibold">{{item.soLuong}}</nav>
                </div>
                <div class="col-2 text-center m-0 p-0 pt-4 ms-auto">
                    <nav class="fw-semibold" style="color: #ee4d2d;">{{formatPrice(item.gia * item.soLuong)}}</nav>
                </div>
                <div class="col-2 text-center m-0 p-0 ms-auto pt-4">
                    <button class="btn rounded-0 p-1 ps-5 pe-5 text-white fw-semibold" ng-click="Xoa(item.id)"
                        style="background-color: #ee4d2d;">
                        Xóa
                    </button>
                </div>
            </div>
            <hr>
        </div>



        <div class="mt-4 bg-white w-100">
            <div class="p-3 w-100 d-flex m-0 p-0">
                <div class="d-flex align-items-center me-auto ">
                </div>

                <div class="d-flex align-items-center float-r ms-3 p-0">
                    <span class="pe-2">Tổng thanh toán ({{giohang.length}} Sản phẩm): </span>
                    <span class="fs-4" style="color: #ee4d2d;">{{formatPrice(TongTien)}}</span>
                </div>
                <div class="d-flex float-end ms-5 p-0">
                    <button class="btn rounded-0 p-1 ps-5 pe-5 text-white fw-semibold"
                        style="background-color: #ee4d2d;" ng-click="MuaHang()">
                        Mua hàng
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>