<title>Quản lý sản phẩm</title>
<div class="container-fluid p-3 m-0 text-bg-secondary bg-opacity-10 text-black">
    <div class="mt-4 bg-white w-100 d-flex justify-content-between p-3 border">
        <div class="input-group flex-nowrap w-25">
            <span class="input-group-text" id="addon-wrapping">Bộ lọc</span>
            <input type="text" class="form-control" aria-describedby="addon-wrapping" ng-model="searchText">
        </div>
        <button class="btn rounded-0 p-1 ps-5 pe-5 text-white fw-semibold" style="background-color: #ee4d2d;"
            data-bs-toggle="modal" data-bs-target="#staticBackdrop">
            Thêm sản phẩm
        </button>
    </div>
    <div class="text-center m-0 p-0 mt-2 bg-white">
        <table class="table table-white table-bordered">
            <thead>
                <tr>
                    <th ng-click="sortData('id')">
                        ID <i ng-class="getSortClass('id')"></i>
                    </th>
                    <th>Ảnh</th>
                    <th>Tên</th>
                    <th ng-click="sortData('price')">
                        Giá bán  <i ng-class="getSortClass('price')"></i>
                    </th>
                    <th ng-click="sortData('count')">
                        Số lượng còn lại <i ng-class="getSortClass('count')"></i>
                    </th>
                    <th ng-click="sortData('soldCount')">
                        Số lượng đã bán  <i ng-class="getSortClass('soldCount')"></i>
                    </th>
                    <th ng-click="sortData('danhmuc')">
                        Danh mục  <i ng-class="getSortClass('danhmuc')"></i>
                    </th>
                    <th ng-click="sortData('datePosted')">
                        Ngày đăng  <i ng-class="getSortClass('datePosted')"></i>
                    </th>
                    <th>Hành động</th>
                </tr>
            </thead>
            <tbody ng-repeat="item in ListSanPham | filter:searchText | orderBy:sortColumn:reverseSort">
                <tr>
                    <th>{{item.id}}</th>
                    <th><img src="{{item.img}}" width="25%"></th>
                    <td>{{item.name}}</td>
                    <td>{{formatPrice(item.price)}}</td>
                    <td>{{item.count}}</td>
                    <td>{{item.soldCount}}</td>
                    <td>{{item.danhmuc}}</td>
                    <td>{{item.datePosted}}</td>
                    <td>
                        <button class="btn rounded-0 p-1 ps-5 pe-5 text-white fw-semibold" data-bs-toggle="modal" data-bs-target="#SuaBackdrop" ng-click="ViewSua(item)"
                            style="background-color: #ee4d2d;">
                            Sửa
                        </button>
                        <button class="btn rounded-0 p-1 ps-5 pe-5 text-white fw-semibold" ng-click="Xoa(item.id)"
                            style="background-color: #ee4d2d;">
                            Xóa
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
        aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="staticBackdropLabel">Thêm sản phẩm</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div
                        class="text-center m-0 p-0 mt-2 d-flex flex-column justify-content-center align-content-center">
                        <label class="text-start">Tên sản phẩm</label>
                        <input type="text" class="form-control" placeholder="ví dụ: Áo sơ mi" ng-model="NewSP.name"
                            required>
                    </div>
                    <div
                        class="text-center m-0 p-0 mt-2 d-flex flex-column justify-content-center align-content-center">
                        <label class="text-start">Giá</label>
                        <input type="number" class="form-control" placeholder="ví dụ: 100000 (đơn vị vnđ)"
                            ng-model="NewSP.price" required>
                    </div>
                    <div
                        class="text-center m-0 p-0 mt-2 d-flex flex-column justify-content-center align-content-center">
                        <label class="text-start">Số lượng</label>
                        <input type="number" class="form-control" placeholder="ví dụ: 100" ng-model="NewSP.count"
                            required>
                    </div>
                    <div
                        class="text-center m-0 p-0 mt-2 d-flex flex-column justify-content-center align-content-center">
                        <label class="text-start">Danh mục</label>
                        <select class="form-select" ng-model="NewSP.danhmuc">
                            <option selected value="">- Lựa chọn danh mục -</option>
                            <option ng-repeat="danhmuc in dsDanhmuc" value="{{danhmuc.id}}">{{danhmuc.id}}</option>
                        </select>
                    </div>


                    <div class="text-center m-0 p-0 mt-2 d-flex flex-column justify-content-center">
                        <label for="AnhSp" class="text-start">Ảnh sản phẩm</label>
                        <input type="file" class="form-control custom-file-input" id="AnhSp" ng-model="ImgFile">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
                    <button type="button" class="btn btn-primary" ng-click="Them()">Thêm</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="SuaBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
        aria-labelledby="SuaBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="SuaBackdropLabel">Sửa sản phẩm</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div
                        class="text-center m-0 p-0 mt-2 d-flex flex-column justify-content-center align-content-center">
                        <label class="text-start">Tên sản phẩm</label>
                        <input type="text" class="form-control" placeholder="ví dụ: Áo sơ mi" ng-model="ObjSp.name"
                            required>
                    </div>
                    <div
                        class="text-center m-0 p-0 mt-2 d-flex flex-column justify-content-center align-content-center">
                        <label class="text-start">Giá</label>
                        <input type="number" class="form-control" placeholder="ví dụ: 100000 (đơn vị vnđ)"
                            ng-model="ObjSp.price" required>
                    </div>
                    <div
                        class="text-center m-0 p-0 mt-2 d-flex flex-column justify-content-center align-content-center">
                        <label class="text-start">Số lượng</label>
                        <input type="number" class="form-control" placeholder="ví dụ: 100" ng-model="ObjSp.count"
                            required>
                    </div>
                    <div
                        class="text-center m-0 p-0 mt-2 d-flex flex-column justify-content-center align-content-center">
                        <label class="text-start">Danh mục</label>
                        <select class="form-select" ng-model="ObjSp.danhmuc">
                            <option selected value="">- Lựa chọn danh mục -</option>
                            <option ng-repeat="danhmuc in dsDanhmuc" value="{{danhmuc.id}}">{{danhmuc.id}}</option>
                        </select>
                    </div>


                    <div class="text-center m-0 p-0 mt-2 d-flex flex-column justify-content-center">
                        <label for="AnhSp" class="text-start">Ảnh sản phẩm</label>
                        <input type="file" class="form-control custom-file-input" id="AnhSp2" ng-model="ImgFile2">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
                    <button type="button" class="btn btn-primary" ng-click="Sua()">Sửa</button>
                </div>
            </div>
        </div>
    </div>

</div>