<title>{{spchitiet.name}}</title>

<div class="container-fluid p-3 m-0 text-bg-secondary bg-opacity-10 text-black m-auto" style="max-width: 1800px;">
    <div class="mt-4 bg-white">
        <div class="row p-3">
            <div class="col-6">
                <img src="{{spchitiet.img}}" class="w-100 border rounded-3">
            </div>
            <div class="col-6">
                <h3>
                    <nav class="badge bg-danger">Mall</nav> {{spchitiet.name}}
                </h3>
                <div class="row p-2 pt-4 d-flex justify-content-center">
                    <div class="col-3 p-0">
                        <button class="btn m-0 p-0 w-100 d-flex justify-content-center border">
                            <a class="fs-5 text-danger text-decoration-none d-flex">
                                <nav class="text-decoration-underline pe-2">5.0</nav>
                                <nav><i class="fa-solid fa-star "></i></nav>
                                <nav><i class="fa-solid fa-star "></i></nav>
                                <nav><i class="fa-solid fa-star "></i></nav>
                                <nav><i class="fa-solid fa-star "></i></nav>
                                <nav><i class="fa-solid fa-star "></i></nav>
                            </a>
                        </button>
                    </div>
                    <div class="col-3 p-0 m-0 ms-5 me-5">
                        <button class="btn m-0 p-0 w-100 d-flex border justify-content-center">
                            <a class="fs-5 text-dark text-decoration-none d-flex">
                                <nav class="text-decoration-underline pe-2">{{spchitiet.reviewCount}}</nav>
                                <nav class="text-secondary">Đánh giá</nav>
                            </a>
                        </button>
                    </div>
                    <div class="col-3 p-0 m-0">
                        <button class="btn m-0 p-0 w-100 d-flex border justify-content-center">
                            <a class="fs-5 text-dark text-decoration-none d-flex">
                                <nav class=" pe-2">{{spchitiet.soldCount}}</nav>
                                <nav class="text-secondary">Đã mua</nav>
                            </a>
                        </button>
                    </div>
                </div>
                <div class="p-4 pt-5 d-flex">
                    <div class="col-4 text-secondary pt-2">Giá bán</div>
                    <nav class="fs-2 text-secondary fw-semibold text-decoration-line-through pt-1 text-opacity-50">
                        {{spchitiet.priceOld}}</nav>
                    <nav class="fs-1 fw-semibold ms-3" style="color: #ee4d2d;">{{spchitiet.price}}</nav>
                </div>
                <div class="row p-4 d-flex">
                    <div class="col-4 text-secondary">Mã giảm giá của shop</div>
                    <div class="col-2 text-secondary bg-danger bg-opacity-25 text-danger fw-semibold text-center me-2">
                        Giảm 20k</div>
                    <div class="col-2 text-secondary bg-danger bg-opacity-25 text-danger fw-semibold text-center me-2">
                        Giảm 10k</div>
                    <div class="col-2 text-secondary bg-danger bg-opacity-25 text-danger fw-semibold text-center me-2">
                        Giảm 8k</div>
                </div>
                <div class="row p-4 pt-1 d-flex">
                    <div class="col-4 text-secondary">Deal sốc</div>
                    <div
                        class="col-3 text-secondary bg-danger bg-opacity-25 text-danger fw-semibold text-center me-2 p-1">
                        Mua kèm deal sốc</div>
                </div>
                <div class="row p-4 pt-1 d-flex">
                    <div class="col-4 text-secondary">Vận chuyển</div>
                    <div class="col-4 text-secondary bg-info bg-opacity-25 text-info fw-semibold text-center p-1">Miễn
                        phí vận chuyển</div>
                </div>
                <div class="row p-4 pt-1 d-flex">
                    <div class="col-4 text-secondary pt-2">Số lượng</div>
                    <div class="col-3 text-secondary p-1"  ng-if="Role === '0'">
                        <div class="input-group mb-3"  >
                            <div class="input-group-prepend" >
                                <button class="btn btn-outline-secondary rounded-0" type="button"
                                    ng-click="decrement()">-</button>
                            </div>
                            <input type="number" id="SoLuong" class="form-control" value="1" min="1" max="99"
                                ng-minlength="1" ng-maxlength="10" ng-model="soluong" readonly required>
                            <div class="input-group-prepend">
                                <button class="btn btn-outline-secondary rounded-0" type="button" ng-click="increment()"
                                    ng-click="increment()">+</button>
                            </div>

                        </div>
                    </div>
                    <div class="col-4 text-secondary pt-2 ps-4">239 Sản phẩm có sẵn</div>
                </div>
                <div class="row p-4 pt-1 d-flex justify-content-end" ng-if="Role === '0'">
                    <div class="col-12 text-secondary ">
                        <button class="btn btn-outline-danger rounded-0 p-3 w-100 fw-semibold bg-opacity-50"
                            ng-click="ThemGioHang()">
                            <i class="fa-solid fa-cart-plus"></i>
                            Thêm vào giỏ hàng
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>