<title>Tìm kiếm</title>

<div class="container-fluid p-3 m-0 text-bg-secondary bg-opacity-10 text-black m-auto" style="max-width: 1800px;">
    <div class="mt-4 bg-white">
        <div class="w-100 d-flex">
            <p class="p-0 ms-3 pt-3 fs-5 fw-semibold text-secondary">Sắp xếp theo</p>
            <button class="btn m-2 ms-4 ps-5 pe-5 rounded-0 fw-semibold" ng-click="setActiveButton('gia')"
                ng-style="buttonStyle.gia">{{ giaClickedText }}</button>
            <button class="btn m-2 ms-2 ps-5 pe-5 rounded-0 fw-semibold" ng-click="setActiveButton('moiNhat')"
                ng-style="buttonStyle.moiNhat">Mới Nhất</button>
            <button class="btn m-2 ms-2 ps-5 pe-5 rounded-0 fw-semibold" ng-click="setActiveButton('banChay')"
                ng-style="buttonStyle.banChay">Bán Chạy</button>
            <button class="btn m-2 ms-2 ps-5 pe-5 rounded-0 fw-semibold" ng-click="setActiveButton('Huy')"style="border-color: #ee4d2d; color: #ee4d2d;">Hủy bỏ</button>

        </div>
        <div class="row p-3">
            <a ng-repeat="item in sptimkiem" class="menu col-2 text-dark text-decoration-none"
                href="#!../chitiet/{{item.id}}">
                <img src="{{item.img}}" class="w-100">
                <p class="fw-semibold m-2 p-0 mh-100 text-center namesp">{{item.name}}</p>
                <div class="w-100">
                    <nav class="float-start pb-2" style="color: #ee4d2d;">{{item.price}}</nav>
                    <nav class="float-end text-secondary">Đã bán {{item.soldCount}}</nav>
                </div>
            </a>
        </div>
    </div>
</div>