<title>Trang Chủ</title>


<div class="container-fluid p-3 m-0 text-bg-secondary bg-opacity-10 text-black m-auto" style="max-width: 1800px;">
    <div class="row mt-3 bg-white">
        <div id="carouselExampleAutoplaying" class="col-8 carousel slide m-0 p-0" data-bs-ride="carousel">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide-to="0" class="active"
                    aria-current="true"></button>
                <button type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide-to="1"></button>
                <button type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide-to="2"></button>
            </div>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="image/bia1.jpg" class="d-block w-100" data-bs-interval="1000">
                </div>
                <div class="carousel-item">
                    <img src="image/bia2.jpg" class="d-block w-100" data-bs-interval="1000">
                </div>
                <div class="carousel-item">
                    <img src="image/bia3.jpg" class="d-block w-100" data-bs-interval="1000">
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
        <div class="col-4 m-0 p-0">
            <img src="image/bia4.jpg" class="w-100 pb-1 ps-2">
            <img src="image/bia5.jpg" class="w-100 pb-1 ps-2">
        </div>
    </div>
    <div class="mt-4 bg-white">
        <h4 class="p-0 ms-3 pt-3">DANH MỤC</h4>
        <div class="row p-3">
            <div class="menu col-1" ng-repeat="item in danhmuc">
                <a class="text-dark text-decoration-none" href="#!../timkiem/{{item.id}}">
                    <img src="{{item.img}}" class="w-100">
                    <p class="text-center">{{item.name}}</p>
                </a>
            </div>
        </div>
    </div>
    <div class="mt-4 bg-white">
        <div class="w-100 d-flex justify-content-between">
            <h4 class="p-0 ms-3 pt-3">SẢN PHẨM MỚI</h4>
        </div>
        <div class="row p-3">
            <a ng-repeat="item in spmoi" class="menu col-2 text-dark text-decoration-none"
                href="#!../chitiet/{{item.id}}">
                <img src="{{item.img}}" class="w-100">
                <p class="fw-semibold m-2 p-0 mh-100 text-center namesp">{{item.name}}</p>
                <div class="w-100">
                    <nav class="float-start pb-2" style="color: #ee4d2d;">{{item.price}}</nav>
                    <nav class="float-end text-secondary">Đã bán {{item.soldCount}}</nav>
                </div>
            </a>
        </div>
    </div>
    
    <div class="mt-4 bg-white">
        <div class="w-100 d-flex justify-content-between">
            <h4 class="p-0 ms-3 pt-3">BÁN CHẠY</h4>
        </div>
        <div class="row p-3">
            <a ng-repeat="item in banchay" class="menu col-2 text-dark text-decoration-none"
                href="#!../chitiet/{{item.id}}">
                <img src="{{item.img}}" class="w-100">
                <p class="fw-semibold m-2 p-0 mh-100 text-center namesp">{{item.name}}</p>
                <div class="w-100">
                    <nav class="float-start pb-2" style="color: #ee4d2d;">{{item.price}}</nav>
                    <nav class="float-end text-secondary">Đã bán {{item.soldCount}}</nav>
                </div>
            </a>
        </div>
    </div>
</div>